html, body {
	position: fixed;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#mainContainer {
	position: absolute;

	top: 55px;
	left: 4px;
	right: 4px;
	bottom: 4px;
}

#venuesContainer {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 35%;
	right: 0;
}

#venuesScrollContainer {
	position: absolute;

	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#bandsContainer {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 66%;
}


#bandsScrollContainer {
	position: absolute;

	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#venuesTable .notAvailable {
/*	color: #bbb;
	background-color: #333;*/
}

#venuesTable .bandUnavailable {
	opacity: 0.2;
}

.vote {
	color: #fff;
	opacity: 0.3;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
td:hover .vote {
	opacity: 0.8;
}

#voteCount {
	display: inline;
	position: relative;
	left: 20px;
	top: 10px;
	float: left;
}

.button {
	display: block;
	width: 100%;

	text-align: left;
}

.button.active {
	background-color: #DE5E60;
	color: #FFFFFF;
}	

.button + .button {
	margin-left: 0px;
}
